@import '../../../styles/share/variables';

.about {
  .header {
    margin: 65px 0;
  }

  .text {
    padding-left: 70px;

    @include use-mobile() {
      padding-left: 0;
    }
  }

  .paragraph {
    color: rgba(0, 0, 0, 0.8);
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 100%;
    display: block;

    @include use-mobile() {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .emoji {
    position: relative;
  }

  .container {
    position: relative;
    height: 100%;

    @include use-mobile() {
      height: unset;
      margin-bottom: 2rem;
    }
  }

  .background {
    width: 100%;
    max-width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

    @include use-mobile() {
      position: relative;
      margin: auto;
    }
  }

  .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 315px;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include use-mobile() {
      display: none;
    }
  }

  .pic {
    object-fit: contain;
  }
}
