@import '../../../styles/share/variables';

.about {
  .header {
    margin: 65px 0;
  }

  .paragraph {
    color: $black;
    line-height: 32px;
    width: 100%;
    display: block;

    @include use-mobile() {
      text-align: center;
    }
  }

  .highlight {
    font-family: $header-font-family;
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
    font-style: italic;

    @include use-mobile() {
      font-size: 26px;
    }
  }

  .emoji {
    position: relative;
  }

  .container {
    position: relative;
    height: 100%;
    margin-right: 90px;

    @include use-mobile() {
      margin-right: 0;
      height: unset;
      margin-bottom: 2rem;
    }
  }

  .background {
    width: 100%;
    max-width: 430px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;

    @include use-mobile() {
      position: relative;
    }
  }

  .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 315px;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include use-mobile() {
      display: none;
    }
  }

  .pic {
    object-fit: contain;
  }
}
