@font-face {
  font-family: 'Cormorant';
  font-weight: 600;
  src: url('../../fonts/Cormorant-SemiBold.ttf');
}

@font-face {
  font-family: 'Cormorant';
  font-weight: 700;
  src: url('../../fonts/Cormorant-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../../fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../../fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../../fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Grand Royal';
  src: url('../../fonts/Grand-Royal.ttf');
}
