$black: #000000;
$white: #ffffff;
$bouquet: #b392ac;
$salt-box: #735d78;
$rose-white: #fffafa;

$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$header-font-family: 'Cormorant', serif;
$grand-royal-font-family: 'Grand Royal', serif;
$montserrat-font-family: 'Montserrat', serif;

$background-color: $rose-white;
$font-color: $bouquet;

$mid-transition: 0.3s all;
$breakpoint: 992px;
$breakpoint-tablet: 1200px;

$primary-color: $bouquet;
$secondary-color: $salt-box;

@mixin use-mobile() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin use-tablet() {
  @media screen and (max-width: $breakpoint-tablet) and (min-width: $breakpoint) {
    @content;
  }
}
