h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-weight: 700;
  text-align: center;
  font-size: 72px;

  @include use-mobile() {
    font-size: 48px;
  }
}

body {
  color: $primary-color;
  font-family: $font-family;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 24px;

  @include use-mobile() {
    font-size: 16px;

    .container {
      width: unset;
    }
  }
}

.app {
  width: 100%;
  overflow-x: hidden;
}
