@import '../../../styles/share/variables';

.packages {
  .header {
    margin: 77px 0 65px;
  }

  .slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include use-mobile() {
      flex-direction: column;
      justify-content: center;
    }
  }

  .card {
    margin-bottom: 70px;
    max-width: 600px;

    @include use-mobile() {
      margin-bottom: 35px;
      max-width: 100%;
    }
  }

  .picnicHeader {
    width: 100%;
    margin-top: 17px;
    font-size: 48px;
    text-align: left;

    @include use-mobile() {
      text-align: center;
      font-size: 32px;
      margin-top: 30px;
    }
  }

  .image {
    width: 100%;
    background-color: #dcdcdc;
    object-fit: cover;
  }

  .subHeader {
    font-family: $font-family;
    font-size: 24px;
    font-weight: 600;
    margin: 64px 0;

    @include use-mobile() {
      margin: 32px 0;
    }
  }

  .extra {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding: 12px 0;

    @include use-mobile() {
      flex-direction: column;
    }
  }

  .extraItem {
    font-size: 24px;
    color: $white;
    font-family: $font-family;
    padding: 22px 40px;
    border-right: 1px solid $white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    @include use-mobile() {
      border-right: none;
      border-bottom: 1px solid $white;
      justify-content: space-between;
      flex-direction: row-reverse;
      text-align: right;
      font-size: 16px;
      padding: 2rem 1rem;
    }
    span {
      margin-left: 1rem;

      @include use-mobile() {
        margin-left: 0;
      }
    }

    &:last-of-type {
      border-right: none;
      border-bottom: none;
    }
  }

  .includes {
    display: flex;
    flex-wrap: wrap;

    @include use-mobile() {
      flex-direction: column;
    }
  }

  .includesItem {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21.5px 17px;
    text-align: center;
    border-right: 1px solid $primary-color;

    @include use-mobile() {
      border-right: none;
      justify-content: space-between;
      flex-direction: row-reverse;
      border-bottom: 1px solid $primary-color;
      padding: 1rem 0;

      &:last-of-type {
        border-bottom: none;
      }
    }

    &.noBR {
      border-right: none;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $primary-color;

    @include use-mobile() {
      display: none;
    }
  }

  .includesLabel {
    padding-left: 1rem;
    font-size: 24px;
    font-family: $font-family;
    font-weight: 400;
    color: black;

    @include use-mobile() {
      font-size: 16px;
      padding-left: 0;
    }

    &.noPL {
      padding-left: 0;
    }
  }

  .noMobile {
    @include use-mobile() {
      display: none;
    }
  }

  .services {
    background-color: $secondary-color;
    color: $white;
    font-family: $header-font-family;
    padding: 50px 0;

    @include use-mobile() {
      padding: 2rem 0;
    }

    .servicesHeader {
      font-size: 48px;
      margin-bottom: 53px;

      @include use-mobile() {
        font-size: 28px;
        margin-bottom: 1.5rem;
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      &.paddingRight {
        padding-right: 15px;

        @include use-mobile() {
          padding-right: 0;
          padding-left: 15px;
        }
      }

      &.paddingLeft {
        padding-left: 15px;
      }
    }

    .servicesItem {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      position: relative;
      display: grid;
      grid-template-columns: 2rem 1fr;

      @include use-mobile() {
        font-size: 18px;
        line-height: 24px;
        grid-template-columns: 1rem 1fr;
      }

      .dot {
        width: 8px;
        height: 8px;
        background-color: $white;
        border-radius: 50%;
        margin-top: 16px;

        @include use-mobile() {
          width: 4px;
          height: 4px;
          margin-top: 10px;
        }
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1.5px solid $secondary-color;
    width: 306px;
    height: 47px;
    border-radius: 50%;
    transform: rotate(-3.57deg);
    transition: $mid-transition;
    margin: auto;

    @include use-mobile() {
      max-width: 100%;
    }

    .label {
      position: absolute;
      text-decoration: none;
      color: $secondary-color;
      font-weight: 300;
      font-size: 18px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(3.57deg);
      transition: $mid-transition;

      @include use-mobile() {
        font-size: 16px;
      }
    }

    &:hover {
      color: $white;
      background-color: $secondary-color;
      transform: rotate(3.57deg);

      .label {
        color: $white;
        transform: translateX(-50%) translateY(-50%) rotate(-3.57deg);
      }
    }
  }

  .addonsHeader {
    font-size: 48px;
    margin: 98px 0 50px;
    color: $secondary-color;

    @include use-mobile() {
      font-size: 28px;
      margin: 2rem 0 1rem;
    }
  }

  .addons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 64px;

    @include use-mobile() {
      margin-bottom: 2rem;
    }

    .addon_item {
      color: $secondary-color;
      font-family: $header-font-family;
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 31px;

      @include use-mobile() {
        font-size: 18px;
        margin-bottom: 1rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    padding-top: 32px;
  }

  .bullet {
    height: 3px;
    width: 100%;
    display: block;
    background-color: #e8c2ca;
    cursor: pointer;

    &.bulletActive {
      background-color: $primary-color;
    }
  }
}
