@import '../../../styles/share/variables';

.contact {
  margin: 65px 0;

  .header {
    padding-bottom: 33px;

    @include use-mobile() {
      padding-bottom: 1rem;
    }
  }

  .description {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin: 32px 0 41px;
    max-width: 540px;

    @include use-mobile() {
      font-size: 16px;
      line-height: 18px;
      margin: 16px auto;
    }
  }

  .body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &__item {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      padding-bottom: 50px;
      width: 100%;
      border-bottom: 1px solid $bouquet;

      @include use-mobile() {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      &:hover {
        .link {
          color: $primary-color;
        }

        .image {
          transform: rotate(17deg);
        }
      }

      &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .image {
      transition: $mid-transition;
      background-color: $rose-white;
      border-radius: 50%;
    }

    .link {
      color: $black;
      font-size: 24px;
      transition: $mid-transition;
      margin-left: 1rem;

      @include use-mobile() {
        font-size: 16px;
      }
    }
  }

  .form {
    max-width: 570px;
    background-color: $rose-white;
    padding: 0 42px 32px;

    @include use-mobile() {
      padding: 0 0 32px;
    }

    .input_group {
      margin-bottom: 27px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      @include use-mobile() {
        margin-bottom: 1rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .label {
      margin-bottom: 11px;
      font-size: 14px;
    }

    .input {
      border: 1px solid $bouquet;
      background-color: $rose-white;
      font-size: 16px;
      padding: 1.5rem 16px;

      @include use-mobile() {
        padding: 1rem 12px;
      }
    }

    .submit {
      border: 1px solid transparent;
      width: 100%;
      background-color: $primary-color;
      color: $white;
      padding: 19px 0;
      text-align: center;
      cursor: pointer;
      transition: $mid-transition;

      &:hover {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }
  }
}
